
@font-face {
    font-family:sfpro;
    src: url(./font/San-Francisco-Pro-Fonts-master);
 }
 @font-face{
     font-family:sequel;
     src: url(../fonts/MonumentExtended-Bold.woff);
 }
 * {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    flex-wrap: wrap;
  }


  
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 10%;
}

li {
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
}

.blinker {
    border-right: 2px solid black;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        border-right-color: black;
    }

    100% {
        border-right-color: white;
    }
}

.logo {
    width: 10%;
    height: auto;
    border-radius: 50%;
    color:white;
}


.typewriter {
    
    width:100vw;
    height: auto;
    font-size: 2rem;
 
    text-align: center;
    
}

footer{
    text-align: center;
}




.main {
    display:block;
    height:100vh;
    width: auto;
    overflow-x: hidden; 
  }
.content {
   
    display: flex;
    align-items: center;
   }

  

  .main-button{
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      justify-content: space-around;
      font-family: monospace;
     
  }
  .download {
      padding: 20px;
      border-radius: 35px;
      box-shadow: 5px 10px 20px grey;
      font-size: 1.25rem;
      outline: none;
      border:none;
      background-color: black;
      color:whitesmoke;
      margin:20px;
      width: 400px;
  }
  .download:focus  {
    outline: none;
    border:none;
  }

  footer{
      background-color:#3A0CA3 ;
      margin-top: 10%;
      padding: 2rem;
      color:#E5E5E5;
  }
  .footer-para {
      margin-bottom : 0%
  }
  .footer-link{
    text-decoration: none;
    color: #F72585;
  }


.submit-card {
  max-width: 500px;
 margin:2rem auto;  
 box-shadow: 5px 10px 20px grey;
 display: inline-block;
 padding: 100px;
 
}
.text-input{
    width: 300px;
}
.text-area{
    display: block;
    width: 300px;
    height: 250px;
}
.submit-btn{
    max-width:50vw;
    width:230px;
    margin: 50px auto;
    
}
.card{
   display: flex;
   justify-content: space-between;
  }
.form-card{
    
    
    width: 100%;
    padding-left:50px;
    padding-top: 30px;
}

@media only screen and ( max-width: 650px ) {

    .dev-img { 
      display: none;
    }
    form{
        padding:50px; 
     }
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-top: 30%;

    }
    .submit-card {
        max-width: 95vw;
        margin:1rem auto; 
        box-shadow: 5px 10px 30px grey;
      
        padding: 10px;
        
       }
       .text-input{
           width:75vw;
       }
       .text-area{
         width:75vw;
     }
     .submit-btn{
         width:50vw;
         margin: 50px auto;
         
     }
     .download{
         width:200px;
     }
   .project{
       max-width:80vw;
       padding:2rem !important;
      
        
    
   }
    
    
  }


  .sub-div{
    font-size: 20rem;
  }
  form{
     padding:10px; 
    
  }
 .abt-me{ 
     width:100%;
     background-color: black;
     display: flex;
     flex-direction: column;
    align-items: center;
          color: white;
     margin-top:40px;
     
        

 }
 .last-updated{
     color:grey;
     margin-bottom: 3px;
     display:flex;
     justify-content: flex-end;
     font-size: 0.8em;
     margin-right: 20px;
 }
 .abt-me-body{
padding:2rem 3rem;
z-index: 30;
 }
 .abt-sec{
     background-color: black;
     position:relative;

 }
 .abt-me-header{
 
     padding:1rem 3rem;
 }
nav{
    backdrop-filter: blur(12px);
    background: rgba(0,0,0,0.5);
    
}
a{
    color:rgb(240, 238, 238) !important;
}
.navbar-toggler{
    background-color: white;
}
.project{
    
    width:25rem;
    padding: 5rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 2rem;
    margin:2rem ;

    background-image: url("../images/wave\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: 200rem 10rem; 
     background-position:bottom;
}

.projects-container{
    min-height: 100vh;
   
}

button{
    border:none;
    padding:5px;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    outline: none;
}
.negative-tag{
    
    background-color: red;
    color:white;
   
}

.tags{
    display: flex;
    justify-content: center;
  
}

.positive-tag{
    
    background-color: green;
    color:white;
   
}
button:focus{
    outline:none;
}

.grid{
    display: flex;
    justify-content: flex-start;
   
    
}
.tags    {
    padding :2px;
}
.tags button{
    margin :2px;
}
.square{
    width:10rem;
    height:10rem;
    border:2px solid black;
    border-radius: 2rem;
    background:linear-gradient(to right bottom,#8E2DE2,#4A00E0);
    backdrop-filter: blur(10px);
    margin-bottom:1rem;
    
   
}
.two-squares{
    transform: rotateZ(-50deg);
   
}
.single-square{
    transform: rotateZ(-50deg)  translateY(-70px) translateX(15px);

}
.squares{
    position: absolute;
    right:0;
    bottom: 10%;
    z-index:2;
    
    
}
.abt-me-header{
    z-index:50;
}
.sc-icons{
    color: black;
    font-size: 2rem;
    margin:1rem;

}
.project h1,h2,h3,h4,h5{
    font-weight: bolder;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }