
@font-face {
    font-family:sfpro;
    src: url(./font/San-Francisco-Pro-Fonts-master);
 }
 @font-face{
     font-family:sequel;
     src: url(../fonts/MonumentExtended-Bold.woff);
 }
 * {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;

  }


  
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 10%;
}

li {
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
}

.blinker {
    border-right: 2px solid black;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        border-right-color: black;
    }

    100% {
        border-right-color: white;
    }
}

.logo {
    width: 10%;
    height: auto;
    border-radius: 50%;
    color:white;
}


.typewriter {
    
    width:100vw;
    height: auto;
    font-size: 2rem;
 
    text-align: center;
    
}

footer{
    text-align: center;
}




.main {
    display:block;
    width: auto;
    overflow-x: hidden; 
  }
.content {
   
    display: flex;
    align-items: center;
   }

  

  .main-button{
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      justify-content: center;
      align-items: center;
     
  }
  .download {
      padding: 20px;
      border-radius: 35px;
      box-shadow: 5px 5px 20px grey;
      font-size: 1.25rem;
      outline: none;
      border:none;
      background: linear-gradient(180deg,#f2cf00 0,#f2b200 100%);
      color:black;
      margin:20px;
      width: 400px;
  }
  .download:focus  {
    outline: none;
    border:none;
  }

  footer{
      background-color:#3A0CA3 ;
      margin-top: 10%;
      padding: 2rem;
      color:#E5E5E5;
  }
  .footer-para {
      margin-bottom : 0%
  }
  .footer-link{
    text-decoration: none;
    color: #F72585;
  }


.text-input{
    width: 300px;
    height:30px;
    background: rgba( 255, 255, 255, 0.55 );
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 8px 32px 5px rgba( 31, 38, 135, 0.37 );
}
.text-area{
    width: 300px;
    height: 250px;
    border: none;
    background: rgba( 255, 255, 255, 0.55 );
    border-radius: 50px;
    outline: none;
    box-shadow: 0 8px 32px 5px rgba( 31, 38, 135, 0.37 );
}
.submit-btn{
    max-width:50vw;
    width:230px;
    margin: 50px auto;
    
}
.card{
   display: flex;
   justify-content: space-between;
  }

@media only screen and ( max-width: 650px ) {

    .dev-img { 
      display: none;
    }
    form{
        padding:50px; 
     }
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-top: 30%;

    }
  
    .submit-card {
        max-width: 95vw;
        margin:1rem auto; 
        box-shadow: 5px 10px 30px grey;
      
        padding: 10px;
        
       }
       .text-input{
           width:75vw;
       }
       .text-area{
         width:75vw;
     }
     .submit-btn{
         width:50vw;
         margin: 50px auto;
         
     }
     .download{
         width:200px;
     }
   .project{
       max-width:80vw;
       padding:2rem !important;
      
        
    
   }
    
    
  }


  .sub-div{
    font-size: 20rem;
  }
  form{
     padding:10px; 
    
  }
 .abt-me{ 
     width:100%;
     background-color: black;
     display: flex;
     flex-direction: column;
    align-items: center;
          color: white;
     margin-top:40px;
     
        

 }
 .last-updated{
     color:grey;
     margin-bottom: 3px;
     display:flex;
     justify-content: flex-end;
     font-size: 0.8em;
     margin-right: 20px;
 }
 .abt-me-body{
padding:2rem 3rem;
z-index: 30;
text-align: center;
 }
 .abt-sec{
     background-color: black;
     position:relative;

 }
 .abt-me-header{
 
     padding:1rem 3rem;
 }
nav{
    backdrop-filter: blur(12px);
    background: rgba(0,0,0,0.5);
    
}
a{
    color:rgb(240, 238, 238) !important;
}
.navbar-toggler{
    background-color: white;
}
.project{
    
    width:25rem;
    padding: 5rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 2rem;
    margin:2rem ;

    background-image: url("../images/wave\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: 200rem 10rem; 
    background-position:bottom;
}



button{
    border:none;
    padding:5px;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    outline: none;
}
.negative-tag{
    
    background-color: red;
    color:white;
   
}

.tags{
    display: flex;
    justify-content: center;
  
}

.positive-tag{
    
    background-color: green;
    color:white;
   
}
button:focus{
    outline:none;
}

.grid{
    display: flex;
    justify-content: flex-start;
   
    
}
.tags    {
    padding :2px;
}
.tags button{
    margin :2px;
}
.square{
    width:10rem;
    height:10rem;
    border:2px solid black;
    border-radius: 2rem;
    background:linear-gradient(to right bottom,#8E2DE2,#4A00E0);
    backdrop-filter: blur(10px);
    margin-bottom:1rem;
    
   
}
.two-squares{
    transform: rotateZ(-50deg);
   
}
.single-square{
    transform: rotateZ(-50deg)  translateY(-70px) translateX(15px);

}
.squares{
    position: absolute;
    right:0;
    bottom: 10%;
    z-index:2;
    
    
}
.abt-me-header{
    z-index:50;
}
.sc-icons{
    color: black;
    font-size: 2rem;
    margin:1rem;

}
.project h1,h2,h3,h4,h5{
    font-weight: bolder;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .gum {
    background: linear-gradient(to bottom,#7a19f1,#332179);
    height:600px;
    width: 100%;
    z-index: -1000;
    position: absolute;
    top:0;
    border-radius: 0px 0px 25% 25%;
  }

.gum:after {
    content: " ";
    right: 0;
    bottom: 0;
    opacity: 1;
    left: 0;
    height: 250px;
    opacity: .1;
    position: absolute;
    z-index: 1;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScwLjc1JyBkPSdNMCwzMkw2MCw1My4zQzEyMCw3NSwyNDAsMTE3LDM2MCwxNDRDNDgwLDE3MSw2MDAsMTgxLDcyMCwxNjBDODQwLDEzOSw5NjAsODUsMTA4MCw4MEMxMjAwLDc1LDEzMjAsMTE3LDEzODAsMTM4LjdMMTQ0MCwxNjBMMTQ0MCwzMjBMMTM4MCwzMjBDMTMyMCwzMjAsMTIwMCwzMjAsMTA4MCwzMjBDOTYwLDMyMCw4NDAsMzIwLDcyMCwzMjBDNjAwLDMyMCw0ODAsMzIwLDM2MCwzMjBDMjQwLDMyMCwxMjAsMzIwLDYwLDMyMEwwLDMyMFonPjwvcGF0aD48L3N2Zz4=);
}
.word{
color: white;
}
.interest{
    color:rgb(255, 230, 0);
}
.conjuction{
    color: white;
}
.theyk-intro-quote{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.theyk-intro{
    color: white;
    padding: 50px;
}

.theyk-intro-author{
    left:75vw;
    position: absolute;
    
}
.theyk-intro{
    padding: 20px;
}

.services{
    display: flex;
  
}
.services-card{
    margin:10px;
}
@media only screen and (max-width: 360px){
    h1{
        font-size:1.3em;
    }
    h2{
        font-size: 1.1em;
    }
  
    h4 {
        font-size: 0.85em;
    }
    h5{
        font-size: 0.95em;
    }

    h6{
        font-size: 0.7em;
    }
    
    .typewriter_p {
        font-size: 0.65em;
        margin-bottom: 0;
    }
    .intro-btn{
    height: 40px !important;
    margin-top: 20px !important;
    padding: 3px;
    width:100px;
    font-size: 1em;
    margin-bottom: 0;
    }
    /*Small smartphones [325px -> 425px]*/
    .theyk-intro{
        color: white;
        padding: 0px 0px 25px 10px;
        margin-bottom: 5px !important;
        
    }
    .timeline{
        left :25px !important;
        margin-top: 110px !important;
        height:440px !important;
    }
    .log2 {
        margin-top:222px !important;
    }
    .log3 {
        margin-top:173px !important;
    }

    .sub-title{
        height:150px !important;
        margin-top: 80px !important;
    }
    .gum{
        height:50%;
    }
    
    .services-card{
        margin-left: 60px;
    }    
    .gum{
        border-radius: 0px 0px 20% 20%;
    }
    .sub-div h1{
        font-size: 1.3rem;
    }
    .services{
        margin-top: 10% !important;
    }
    .main-button{
        margin-top: 2px !important;
    }
    .work-logo{
        width: 100px;
        height: 100;
        margin-right: 30px;
    }
    .theyk-intro{
        color: white;
        margin-top:130px;
        text-align:center;
        margin-bottom: 20px;
    }
    .main-button{
        margin: 5px;
    }
    .role h2{
        font-size: 1em;
    }
    .desc {
        font-size: 0.8em;
    }
    .term {
        font-size: 0.75em;
    }
    .experience-details{
        padding: 10px;
        width: 300px !important;
    }
    
}
@media only screen and (min-width: 361px)and (max-width: 425px){
    h1{
        font-size:1.3em;
    }
    h2{
        font-size: 1.1em;
    }
  
    h4 {
        font-size: 0.85em;
    }
    h5{
        font-size: 0.95em;
    }

    h6{
        font-size: 0.7em;
    }
    
    .typewriter_p {
        font-size: 0.65em;
        margin-bottom: 0;
    }
    .intro-btn{
    height: 40px !important;
    margin-top: 20px !important;
    padding: 3px;
    width:100px;
    font-size: 1em;
    margin-bottom: 0;
    }
    /*Small smartphones [325px -> 425px]*/
    .theyk-intro{
        color: white;
        padding: 0px 0px 25px 10px;
        margin-bottom: 5px !important;
        
    }
    .timeline{
        left :25px !important;
        margin-top: 110px !important;
        height:440px !important;
    }
    .log2 {
        margin-top:222px !important;
    }
    .log3 {
        margin-top:173px !important;
    }

    .sub-title{
        height:150px !important;
        margin-top: 80px !important;
    }
    .gum{
        height:50%;
    }
    
    .services-card{
        margin-left: 60px;
    }    
    .gum{
        border-radius: 0px 0px 20% 20%;
    }
    .sub-div h1{
        font-size: 1.3rem;
    }
    .services{
        margin-top: 30% !important;
    }
    .main-button{
        margin-top: 2px !important;
    }
    .work-logo{
        width: 100px;
        height: 100;
        margin-right: 30px;
    }
    .theyk-intro{
        color: white;
        margin-top:130px;
        text-align:center;
        margin-bottom: 20px;
    }
    .main-button{
        margin: 5px;
    }
    .role h2{
        font-size: 1em;
    }
    .desc {
        font-size: 0.8em;
    }
    .term {
        font-size: 0.75em;
    }
    .experience-details{
        padding: 10px;
        width: 300px !important;
    }
    
  
}

@media only screen and (min-width: 426px)and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .timeline{
        left:175px !important;
    }
    .log2 {
        margin-top:120px !important;
    }
    .log3{
        margin-top: 140px !important;
    }
    h1{
        font-size:1.3em;
    }
    h6{
        font-size: 0.70em;
    }
    /*Small smartphones [325px -> 425px]*/
    .gum{
        height:50%;
    }
    .work{
        justify-content: space-around;
    }
    .theyk-intro-author{
        left:70vw;
    }
    .work-logo{
        width: 100px;
        height: 100;
        margin-right: 30px;
    }
    .theyk-intro{
        color: white;
        margin-top:130px;
        text-align:center;
        margin-bottom: 20px;
    }
    .typewriter{
        font-size: 1.3em;
    }
    .intro-btn{
        width:150px;
        height: 50px;
        padding: 3px;
        font-size: 1em;
    }
    .main-button{
        margin: 5px;
    }
    .services{
        margin-top: 10px;
    }
    .role h2{
        font-size: 1em;
    }
    .desc {
        font-size: 0.8em;
    }
    .term {
        font-size: 0.75em;
    }
    .experience-details{
        padding: 10px;
        width: 300px !important;
    }
}
.service-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-img{
    width:auto;
    height:60px;
   
}
.services-card{
  
    margin-right: 60px;

    width: 350px;
    height:275px;
    padding: 10px;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-radius: 40px;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 130px;
   
}
.service-heading{
    text-align: center;
    padding: 20px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-content{
    padding:0px 20px 0px 20px;
    text-align: center;
}
.work{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grablogo , .flaptics{
    height: auto;
    width: 100px;
}
.Work-Experience{
    margin-top: 20px;
    position: relative;
}
.work{
    margin-bottom: 40px;
    
}
.experience-details{
    width:400px;
}
.timeline{
    height:320px;
    width: 1px;
    background-color: black;
    left:42%;
    position: absolute;
    margin-top: 10px;
}
.circle{
    border-radius: 50%;
    background-color: orange;
    width: 20px;
    height: 20px;
}
.circle-active{
    
    background-color: orangered;
}
.log2 {
    margin-top:140px;
}
.log3{
    margin-top: 135px;
}
.circle-log{
    position:relative;
    left:-10px;
}

.blink_me {
    animation: blinker 1s linear infinite;
    
  }
  .outer-circle{
      position: relative;
      top:-2px;
      left:-3px;
      width: 25px;
      height: 25px;
      background-color: orangered;
      border-radius: 50%;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
    100% {
        opacity: 60;
      }
  }
.timeline-inner{
    position: relative;
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .theyk-intro-quote{
        margin-top: 80px !important;
        padding: 10px !important; 
        text-align: center;
    }
    .work-logo{
        margin-right:100px;
    }
    .timeline {
        left:37%;
    }
}
.sub-title{
    margin-top:150px;
    text-align: center;
    height: 200px;
}
.form-parent{
    background: rgb(3,244,223);
    background: linear-gradient(90deg, rgba(3,244,223,1) 27%, rgba(71,139,249,1) 76%);
height:600px;
width:100%;
display: flex;
justify-content: center;
align-items: center;
position: relative;

}

.form-child{
    background: rgba( 255, 255, 255, 0.25 );
    width: 80%;
    height: 500px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-texts{
    color:black;
    margin:50px;
    width:450px;
}
.msg-img{
    position:absolute;
    top:50px;
}
.form-submit-btn{
    width:200px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    color:white;
    background-color: black;

}
.formBtn{
    display: flex;
    align-items: center;
    justify-content: center;

}


.formBtn button:hover{
    
    cursor: pointer;
   
}

.sm-icon-container:hover {
    opacity: 0.7;
    transform: scale(0.8,0.8);
}

.form-sm-icon {
 
  margin: 4px;
  font-size: 20px;
color:white
  
}
.form-social-media{
display: flex;
}
.form-social-media fa-twitter{
    background-color: red;

}
.form-divider{
    width:2px;
    height:350px;
    background: black;
    margin-right: 40px;
}
.sm-twitter{
    background: #55ACEE;
}
.sm-icon-container{
    height:30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px;
}
.sm-gmail{
    background: #dd4b39;
}
.sm-in{
    background: #007bb5;
}
.sm-reddit {
    background: #ff5700;
}